<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/datatables.min.css"/>
</head>
<body>
<ul>
    <li><a href="showEditeurs">Afficher la liste des éditeurs</a></li>
    <li><a href="showGenres">Afficher la liste des genres</a></li>
    <li><a href="showThemes">Afficher la liste des thèmes</a></li>
    <li><a href="showTypes">Afficher la liste des types</a></li>
</ul>

<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
</body>
</html>
