<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<ul>
    <li><a href="showEditeurJeuList">Afficher la liste des éditeurs</a></li>
    <li><a href="showGenreJeuList">Afficher la liste des genres</a></li>
    <li><a href="showThemeJeuList">Afficher la liste des thèmes</a></li>
    <li><a href="showTypeJeuList">Afficher la liste des types</a></li>
</ul>
</body>
</html>
