<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/datatables.min.css"/>
</head>
<body>

<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-2 bg-light" style="text-align: center">
            <h1>Menu</h1>
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item"><a class="nav-link" href="showJeux">Jeux</a></li>
                <li class="nav-item"><a class="nav-link" href="showEditeurs">Éditeurs</a></li>
                <li class="nav-item"><a class="nav-link" href="showGenres">Genres</a></li>
                <li class="nav-item"><a class="nav-link" href="showThemes">Thèmes</a></li>
                <li class="nav-item"><a class="nav-link" href="showTypes">Types</a></li>
            </ul>
        </div>
        <div class="col-auto">
            <h1>Filtres sur les jeux</h1>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
</body>
</html>
