<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Genres</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<a href="/">Retour à l'accueil</a>

<h2>Liste des genres de jeux</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Nom</th>
    </tr>

    <tr th:each="genreJeu : ${genreJeuList}">
        <td th:text="${genreJeu.id}">Id</td>
        <td th:text="${genreJeu.nom}">Nom</td>
    </tr>
</table>

</body>
</html>
