<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Types</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/datatables.min.css"/>
</head>

<body style="margin-left: 10px; margin-right: 10px;">
<a href="/" class="btn btn-block">Retour à l'accueil</a>
<a href="/addType" class="btn btn-block">Ajouter un type</a>

<h2>Liste des types</h2>
<div th:if="${Message}" th:text="${Message}"></div>

<table id="types" class="table table-striped table-bordered" style="width: 100%;">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="type : ${types}">
        <td th:text="${type.id}">Id</td>
        <td th:text="${type.nom}">Nom</td>
        <td>Actions</td>
    </tr>
    </tbody>
</table>

<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#types').DataTable(
            {
                "columns": [
                    {"data": "id"},
                    {"data": "nom"},
                    {
                        render: function (data, type, row) {
                            return "<a href='/updateType/"+row.id+"'>Modifier</a>&nbsp;<a href='/deleteType/"+row.id+"'>Supprimer</a>";
                        }
                    }
                ]
            }
        );
    });
</script>
</body>
</html>
